<?xml version="1.0"?>
<!--
  ~ Copyright © 2019 Magento. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="FreeIntro_NewAdminpage::custom_page"
             title="Custom Page"
             module="FreeIntro_NewAdminpage"
             resource="FreeIntro_NewAdminpage::custom_page"
             parent="Magento_Catalog::inventory"
             action="adminpage/storefront/action"/>
    </menu>
</config>